<p using ngFor></p>
<table border="8" >
  <tr

  *ngFor="let m of names">
      <td>{{m |lowercase}}</td>

    
</tr>

</table>
<br>
<br>


<table BORDER="3">


<tr *ngFor="let x of arr;index as i;even as e; odd as o">using index --
<td>{{x }}</td>
<td>{{e}}</td>
<td>{{o}}</td>


<td>{{i}}</td>
</tr> 
</table>

<hr>
<hr>

<br>
<p>NGIF</p>
<h1 *ngIf="correct">yes name</h1>
<h2 *ngIf="wrong">not names</h2>

<h1 *ngIf="data" then load; else sample >loading</h1>

<div #sample >
  {{data}}
</div>

<ng-template #sample>
  heloooooo.........
</ng-template>

<p ngswitch></p>
<input type="text" [(ngModel)]="expression">
<div [ngSwitch]="expression">
  <div *ngSwitchCase="'+'">{{num1+num2}}</div>
    <div *ngSwitchCase="'-'">{{num1-num2}}</div>
      <div *ngSwitchCase="'*'">{{num1*num2}}</div>
        <div *ngSwitchCase="'/'">{{num1/num2}}</div>
          <div *ngSwitchDefault>...........</div>
           
</div>